*{
  box-sizing: border-box;
}

.body {
  height: 100vh;
}

.browse {
  display:flex;
  flex-direction: column;
  align-content: space-between;
}

.tinderCards__cardContainer {
  display:flex;
  justify-content: center;
  margin-top: 14vh;
}

.card {
  position: relative;
  min-width: 300px;
  padding: 20px;
  min-height: 300px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 10px 0px rgba(193, 193, 193, 0.3);
}

.card p {
  position: absolute;
  bottom: 2px;
  color: white;
}

.swipe {
  position: absolute;
}
