.browse {
  display:flex;
  flex-direction: column;
  align-content: space-between;
}

.swipe_cards {
  margin-top: 17vh;
  z-index: 0;
}

.card {
  display: flex;
  justify-content: end;
  margin-left: 5vh;
  position: fixed;
  width: 400px;
  padding: 20px;
  height: 370px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 4px 10px 0px #211319;
  filter: brightness(115%);
}

.cardinfo {
  position: absolute;
  text-align: right;
  width: 200px;
  bottom: 2px;
  color: #82773d;
  background-color: #211319;
  border-radius: 5px;
  padding: 7px;
  padding-left: 7px;
  padding-right: 7px;
  opacity: 0.8;
  font-size: 16px;
}

.swal-modal {
  background-color: #12090d;
  filter: brightness(120%);
  height: 720px;
  width: 480px;
}

.swal-icon img {
  max-height: 1000px;
  max-width: 1000px;
  height: 625px;
  width: 475px;
}

div.swal-footer {
  padding:0;
  margin:0;
}

.swal-button--confirm {
  padding: 5px 10px;
  border-radius: 5px;
  background: linear-gradient(180deg, rgba(78,74,58,1) 0%, rgba(43,41,56,1) 36%, rgba(28,27,38,1) 57%, rgba(14,14,12,1) 91%);
  border: none;
  width: 50px;
  color:#82773d;
  margin: 0;
}