.cardButtons {
  display: flex;
  position: fixed;
  justify-content: space-around;
  top: 0;
  margin-top: 450px;
  border: 1px dotted  #530e2d;;
  padding-top: 20px;


.like {
    border: none;
    margin-bottom: 5px;
    background: transparent;
  }

.dislike {
  border: none;
  margin-bottom: 5px;
  background: transparent;
  }

.profile {
    border: none;
    margin-bottom: 5px;
    background: transparent;
  }
}