.create {
  font-size: 10px;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
}
.create form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 0px;
  padding-left: 0px;
  width: 200px;
  text-align: start;
}

.create form input {
  border: none;
  background-color: #1a1914;
  color: #4f4d45;
  opacity: 0.8;
  margin: 6px;
  width:260px;
  border-radius: 5px;
}

.create form textarea[id="bio_description"] {
  border: none;
  background-color: #1a1914;
  color: #4f4d45;
  opacity: 0.8;
  margin: 6px;
  margin-bottom: 0;
  width:260px;
  border-radius: 5px;
}

.create form input[type="submit"] {
  text-transform: uppercase;
  width: 100px;
  height: 30px;
  color: #4f4d45;
  font-size: 12px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: none;
  background: rgb(78,74,58);
  background: linear-gradient(180deg, rgba(78,74,58,1) 0%, rgba(43,41,56,1) 36%, rgba(28,27,38,1) 57%, rgba(14,14,12,1) 91%);
  opacity: 0.8;
}

.create form input[type="submit"]:hover {
  color: #aba781;
}

.create form .photo-container img {
  width: 100%;
}