.create {
  font-size: 10px;
  margin-top: 90px;
  padding-top: 15px;
  margin-right: 5px;
  text-align: left;
  color: #82773d;
  border: 4px dotted #211319
}

.create p {
  margin-left: 50px;
}
.create form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 45px;
}

.create form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 0px;
  padding-left: 0px;
  width: 200px;
  text-align: start;
}

.create form input {
  border: none;
  background-color: #211319;
  color: #82773d;
  opacity: 0.8;
  margin: 6px;
  width:260px;
  border-radius: 5px;
  font-size: 11px;
  font-family: 'Questrial', sans-serif;
}

.create form textarea[id="bio_description"] {
  border: none;
  background-color: #211319;
  color: #82773d;
  opacity: 0.8;
  margin: 6px;
  margin-bottom: 0;
  width:260px;
  border-radius: 5px;
  font-size: 11px;
  font-family: 'Questrial', sans-serif;
}

.create form input[type="submit"] {
  text-transform: uppercase;
  width: 100px;
  height: 30px;
  color: #4f4d45;
  font-size: 12px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  border: none;
  background: rgb(78,74,58);
  background: linear-gradient(180deg, rgba(78,74,58,1) 0%, rgba(43,41,56,1) 36%, rgba(28,27,38,1) 57%, rgba(14,14,12,1) 91%);
}

.create form input[type="submit"]:hover {
  color: #aba781;
}

.create form .photo-container img {
  width: 100%;
}