* {
  box-sizing: border-box;
}

html,
body {
  body:before,
  body:after {
    content: "";
    position: fixed;
    background: black;
    left: 0;
    right: 0;
    height: 5px;
    opacity: 0.7;
  }
  body:before {
    top: 0;
  }
  body:after {
    bottom: 0;
  }
  body {
    border-left: 5px solid black;
    border-right: 5px solid black;
  }
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 11px;
  color: #4f4d45;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.85)),
    url("https://goldwallpapers.com/uploads/posts/vintage-black-wallpaper/vintage_black_wallpaper_011.jpg");
  background-size: 800px 800px;
}

// .viewprofile {
//   display:flex;
//   flex-direction: column;
//   justify-content: space-between;
//   margin-left: 10px;
//   margin-right: 10px;
// }

// .user_profile {
//   display: flex;
//   flex-direction: column;
//   justify-content: start;
//   height: 100%;
// }

// .user_img {
//   display: flex;
//   height: 300px;
//   background-color: bisque;
// }

// .user_info {
//   display: flex;
//   height: 30%;
//   background-color: tomato;
// }

// .swipe_buttons {
//   display: flex;
//   height: 30%;
//   background-color: aquamarine;
// }

// nav {
//   width: 100%;
//   height: 10%;
//   display: flex;
//   justify-content: space-between;
// }

// nav .nav-button {
//   color: rgb(254, 48, 114);
//   background-color: rgb(255, 255, 255);
//   font-size: 30px;
//   padding: 10px 20px;
//   border-radius: 10px;
//   border: none;
//   margin: 10px;
// }

// nav .nav-button:disabled {
//   background-color: rgb(181, 180, 180);
//   color: rgb(189, 42, 90);
// }

// nav .logo {
//   border-radius: 10px;
//   height: 100px;
// }

// nav .logo-container {
//   width: 170px;
//   margin: 15px;
// }

// nav .logo-container .logo {
//   width: 100%;
// }

// /*-------- Auth Modal --------*/
// .auth-modal {
//   position: relative;
//   left: 0;
//   right: 0;
//   top: 40px;
//   margin-left: auto;
//   margin-right: auto;
//   max-width: 360px;
//   height: 600px;
//   background-color: rgb(255, 255, 255);
//   border-radius: 10px;
//   padding: 40px;
// }

// .auth-modal .close-icon {
//   float: right;
// }

// .auth-modal form {
//   display: flex;
//   flex-direction: column;
//   border-width: 6px;
//   border-color: rgba(0, 0, 0, 0.3);
// }

// /*-------- Tinder Cards --------*/
// .card {
//   position: relative;
//   width: 600px;
//   padding: 20px;
//   max-width: 85vw;
//   height: 50vh;
//   border-radius: 20px;
//   background-size: cover;
//   background-position: center;
//   box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
// }

// .card h3 {
//   position: absolute;
//   bottom: 10px;
//   color: white;
// }

// .tinderCards__cardContainer {
//   display: flex;
//   justify-content: center;
//   margin-top: 5vh;
// }

// /* stacks cards on top of each other */
// .swipe {
//   position: absolute;
// }

// /*-------- Conversations --------*/
// .conversations {
//   background-color: rgb(255, 255, 255);
//   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
//     rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
//   width: 100%;
//   text-align: center;
// }

// .conversations .chat-container-header {
//   background: linear-gradient(45deg, rgb(254, 48, 114), rgb(255, 89, 64));
//   height: 100px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }

// .conversations .option {
//   border: none;
//   background-color: rgb(255, 255, 255);
//   border-bottom: solid 4px rgb(243, 33, 33);
//   font-size: 20px;
//   margin: 2px;
//   padding: 10px;
// }

// .conversations .option:disabled {
//   border-bottom: solid 4px rgb(187, 187, 187);
// }

// .conversations .profile,
// .conversations .log-out-icon {
//   display: flex;
//   align-items: center;
//   padding: 20px;
//   color: rgb(255, 255, 255);
// }

// .img-container {
//   height: 30px;
//   width: 30px;
//   border-radius: 15px;
//   overflow: hidden;
//   margin: 10px;
// }

// .img-container img {
//   width: 100%;
// }

// /*-------- Chat Display --------*/
// .msg {
//   padding: 20px;
//   height: 60vh;
//   overflow-y: auto;
// }

// .msg-input {
//   padding: 20px;
// }

/*-------- Testing --------*/
.cardButtons {
  margin-top: 500px;
}
