.home {
  display:flex;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  filter: brightness(115%);
}
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 155px;
}
.logo {
  height: 360px;
  width: 492px;
}

.logo-lrg {
  margin-top: 70px;
  height: 100%;
}

.loginForm {
  display:flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
  padding: 155px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4px;
}

input[name=pass] {
  border: none;
  background-color: #1a1914;
  color: #82773d;
  opacity: 0.8;
  margin: 3px;
  margin-bottom: 10px;
  width:170px;
  border-radius: 5px;
  font-family: 'Questrial', sans-serif;
}

input[name=email] {
  border: none;
  background-color: #1a1914;
  color: #82773d;
  opacity: 0.8;
  margin: 3px;
  width:170px;
  border-radius: 5px;
  font-family: 'Questrial', sans-serif;
}

.login-button {
  font-weight: 600;
  text-transform: uppercase;
  color: #4f4d45;
  padding: 10px 15px;
  border-radius: 30px;
  margin-left: 40px;
  border: none;
  width: 100px;
  background: rgb(78,74,58);
  background: linear-gradient(180deg, rgba(78,74,58,1) 0%, rgba(43,41,56,1) 36%, rgba(28,27,38,1) 57%, rgba(14,14,12,1) 91%);
}

.login-button:hover {
  color: #aba781;
}

.primary-button {
  text-transform: uppercase;
  font-weight: 600;
  color: #4f4d45;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 30px;
  margin-left: 170px;
  border: none;
  width: 150px;
  background: rgb(78,74,58);
  background: linear-gradient(180deg, rgba(78,74,58,1) 0%, rgba(43,41,56,1) 36%, rgba(28,27,38,1) 57%, rgba(14,14,12,1) 91%);
}

.primary-button:hover {
  color: #aba781;
}

.secondary-button {
  font-weight: 600;
  text-transform: uppercase;
  color: #4f4d45;
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  width: 100px;
  margin-right: 150px;
  background: rgb(78,74,58);
  background: linear-gradient(180deg, rgba(78,74,58,1) 0%, rgba(43,41,56,1) 36%, rgba(28,27,38,1) 57%, rgba(14,14,12,1) 91%);
}

.secondary-button:hover {
  color: #aba781;
}